*{
    font-family:  sans-serif,Verdana, Geneva, Tahoma;
}
.register {
    display: flex;
    width: 50vw;
    justify-content: space-between;
  }

  form button,
  form input{
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: bold;
    border:1px solid rgba(0, 0, 0, 0.5);
  }

  form button{
    margin-top: 4vh;
    font-weight: bold !important;
    border-color: orange;
    background-color: #ffa500;
    color: #ffffff;
  }
  
  form input{
    padding-left: 1vw;
    margin-top: 3vh;
    line-height: 2vh;
  }
  form input::placeholder{
    text-align: left;
    opacity: 0.5;
  }
  form input:focus,
  form input::placeholder{
    color: orange;
  }
  
  form{
    border-width: 1px;
    border-style: double;
    border-radius: 30px;
    border-color: orange;
    height: 40vh;
    width: 25vw;
    padding-top:3vh;
    background: #006699;
  }

  form .header{
    color: orange;
  }
  
  .register{
    margin-left: 20vw !important;
  }
  .register div{
    display: inline-block;

  }
  .register  .user{
    font-size: 18px;
    font-family: inherit;
    padding-left: 10vw;
 
  }
  .register .userlist{
    width: 70vw !important;
  }